/* added pretty picture */
body {
    background-image: url('./background-pic.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-shadow: 2px 2px black;
  }

.hidden {
    display: none
}

.border {
    border: 3px solid white;
}