body {
    background-image: url('./background-pic.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
  }

.hidden {
    display: none
}

.border {
    border: 3px solid black;
}